.div1{
    box-shadow: 10px 10px 10px red;
}
.header{
    height: 100px;
    background-image: url(d5ed0832-5001-11eb-ad83-255e1243236c_image_hires_113755.avif)
    ;
    background-size: contain;
    /* background-position: 0%; */
    ba
}